$clr_blue: #4E79C7;
$clr_blue-44: #447CE1;
$clr_blue-42: #426AB3;
$clr_blue-af: #AFCCF4;
$clr_light_blue: #EAEFF7;
$clr_light_gray: #272727; // Основной цвет текста
$clr_gray: #292929; // цвет заголовков 1го и 2го уровней
$gray_31: #313131; // цвет заголовков 3го уровня
$gray_E0: #E0E0E0;
$gray_85: #858585;
$clr_subtitle: #2C2C2C;
$clr_gray-22: #222222;
$clr_gray-d9: #D9D9D9;
$clr_descr: #505050;
$clr_shadow: #21427C;
$red: #FF8888;
$clr_line: rgba(78, 121, 199, 0.2);
$clr_green: #ABDF6F;
$clr_light-yellow: #F8F8F8;
$clr_gray_B2: #B2B2B2;

$white: #fff;
$black: #000;

$scr_mobile: 480px;
$scr_tab: 768px;
$scr_laptop: 1024px;