section.b-contacts
    .b-contacts-info
        h2 Контакты
        .b-contacts__addr ул. Карла Маркса, д. 15, офис 10 г. Архангельск
        a(href="tel:8182462886").tel (8182) 46-28-86
        .b-contacts__working-hours Пн-Пт: 9:00 — 21:00 <br> Сб: 9:00 — 19:00 <br> Вс: выходной
        a(href="mailto:mail@globo-stom.ru").email mail@globo-stom.ru
        include _b-socisal
    .b-contacts-map
        include _map
