.b-nav
    ul
        li
            a(href="#") Услуги и цены
        li
            a(href="#") Полезно
        li.selected
            a(href="important.html") Важно
        li
            a(href="#") Контакты