script(
    type="text/javascript"
    charset="utf-8"
    async
    src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ab580d1cb2e82cbe497103c0c6bbbd3be6b996b4b4ac3997af57c89d8be7b3bbb&amp;lang=ru_RU&amp;scroll=true"
    )