section.b-repres
    article.b-repres-wrapper
        h1 Стоматологическая клиника для всей семьи
        .b-repres__prev
            |19 лет мы заботимся о Вашей улыбке. <br>
            |Сотни довольных клиентов
        a(href="/signup.html").blue-button Записаться на приём