section.b-reviews
    header.b-reviews__header
        h2 Отзывы клиентов
        a(href="#" data-izimodal-open="#send-review").link Оставить свой отзыв
    .b-reviews-slider
        - for (var x = 0; x < 5; x++)
                a(href="#" data-izimodal-open="#review").b-reviews-slider__item
                    .b-item-wrapper
                        .img(style="")
                        h3 Алла Львовна
                        p
                            |Хочу выразить огромную благодарность докторам Воробьевой Е.И. и Ильину Д.А.,
                            |за их профессионализм, добродушие и чуткость! Спасибо большое за очень приятную
                            |душевную обстановку в клинике!
                            | Хочу выразить огромную благодарность докторам Воробьевой Е.И. и Ильину Д.А.,
                            | за их профессионализм, добродушие и чуткость! Спасибо большое за очень приятную
                            | душевную обстановку в клинике!
                            | Хочу выразить огромную благодарность докторам Воробьевой Е.И. и Ильину Д.А.,
                            | за их профессионализм, добродушие и чуткость! Спасибо большое за очень приятную
                            | душевную обстановку в клинике!
        a(href="#" data-izimodal-open="#review").b-reviews-slider__item
            .b-item-wrapper
                .img(style="background-image: url(images/user1.jpg')")
                h3 Алла Львовна
                p
                    | Хочу выразить огромную благодарность докторам Воробьевой Е.И. и Ильину Д.А.,
                    | за их профессионализм, добродушие и чуткость! Спасибо большое за очень приятную
                    | душевную обстановку в клинике!
    include ../modals/_review
    include ../modals/_send-review