section.b-services
    header.b-services__header
        h2 Наши услуги
        .b-services__prev Всё, что связано с зубами - это к нам, мы знаем о зубах всё
    article.b-services__items
        .b-service-item
            .b-service-item__img
                img(src='images/zub_profil.png' alt="")
            h3 Провилактика и лечение
            p Лечение кариеса и любых заболеваний зубов
        .b-service-item
            .b-service-item__img
                img(src='images/zub_ispr.png' alt="")
            h3 Исправление прикуса
            p Установка современных брекет-систем
        .b-service-item
            .b-service-item__img
                img(src='images/zub_otbel.png' alt="")
            h3 Отбеливание зубов
            p Удаление зубного налёта
        .b-service-item
            .b-service-item__img
                img(src='images/zub_ust.png' alt="")
            h3 Установка имплантов
            p Безболезненная установка надёжных протезов
    footer.b-services_footer
        a(href="#").link Все услуги и цены