.b-sign-cont
    .aside
        .nom 3
        .tit Укажите свои контакты
        .inf Мы перезвоним Вам, чтобы подтвердить запись
    form.b-cont-form
        ._line
            label.name Фамилия и имя
                input.input(type="text" name="")
            label.phone Номер телефона
                input.input(type="phone" name="")
        label.comment Комментарий к записи
            textarea.textarea(name="")
        a(href="#" data-izimodal-open="#appoin-success").blue-button.js-izimodal-open Записаться на приём