.b-prefooter
    .b-content_wrapper
        .b-info-item
            img(src="images/zub_konst.png" alt="")
            h3 Бесплатная консультация
            p Просто позвоните и наши специалисты проконсультируют вас по вопросам профилактики и лечения ваших зубов
        .b-info-item
            img(src="images/zub_gar.png" alt="")
            h3 Пожизненная гарантия на импланты
            p При регулярных осмотрах, в случае потери имплантата по любой причине мы обяземся поставить вам новый имплантат.
        .b-info-item
            img(src="images/zub_smile.png" alt="")
            h3 Лечение без боли и страха
            p Лучшие обезболивающие и заботливый врач сделают все, чтобы вам было комфортно
        .b-info-item
            img(src="images/zub_oms.png" alt="")
            h3 Обслуживание по полюсам ОМС и ДМС
            p Лечение оплачивает страховая компания в соответствии с вашей программой
            a(href="#").link Список полюсов
