.b-sign-doc
    .aside
        .nom 1
        .tit Выберите специалиста
        .inf Укажите направление лечения, а затем специалиста
    .docs-list
        ul._spec
            li.js-docs-list__spec.error
                p Врач-терапевт
                ul.doc
                    li.js-docs-list__doc
                        .doc__photo(style="background-image: url('images/doc_3.png')")
                        p
                            | Вячеслав Васильевич
                            br
                            | Дантистов
                    li.js-docs-list__doc
                        .doc__photo(style="background-image: url('images/doc_1.png')")
                        p
                            | Любовь Валентиновна
                            br
                            | Доброзубова
            li.js-docs-list__spec
                p Врач-ортопед
            li.js-docs-list__spec
                p Врач-ортодонт