.b-sign-date
    .aside
        .nom 2
        .tit Выберите день и время посещения
        .inf
            ul
                li Доступные для записи дни
                li.mod-text_red Занятые дни и часы
    .b-date
        ._day
            .calendar
        ._time
            .time.booked 9:00
            .time.chosen 10:00
            .time 11:00
            .time 12:00
            .time 13:00
            .time 14:00
            .time 15:00
            .time 16:00
            .time 17:00
            .time 18:00
            .time 18:30
            .time 19:00
            .time 19:30
            .time 20:00
