section.b-stocks
    .b-stocks-slider
        - for (var x = 0; x < 2; x++)
            ._item(style="background-image:url('images/banner.png')")
            ._item(style="background-image:url('https://picsum.photos/1000/400')")