section.b-svc_level
    header.b-svc_level__header
        h2 Высочайший уровень сервиса
        .b-svc_level__prev
            |«Глобо-Стом» — это современная стоматологическая клиника, <br>
            |выполненная по мировым стандартам качества. Для взрослых посетителей и пациентов <br>
            | с детьми есть удобные зоны отдыха.
    .slider-wrapper
        .b-svc_level-slider
            - for (var x = 0; x < 3; x++)
                    .b-svc-slider__item
                        img(src="../../images/slidephoto.png" alt="")
                        p Светлые помещения с удобными местами отдыха для пациентов