.modal#appoin-success
  ._inner
    .modal-appoin-success
      ._img
      ._ttl
        |Отлично!
        br
        |Информация о Вашей записи:
      ._info
        .row
          div Врач-ортопед
          div
              | Любовь Валентиновна
              br
              | Добролюбова
        .row
          div Дата и время записи
          div
            | 10.03.2019
            br
            | 18:30
      a.blue-button(href="#") Пойти чистить зубы
  button._close(type="button" data-izimodal-close="")