.modal#doctor
    ._inner
        .modal-doctor
            ._bl1
                ._img
                    ._src(style="background-image:url('images/doc_3.png')")
                ._r
                    ._name Сорокин Валентин Владимирович
                    ._under
                        ._d Врач-стоматолог ортопед
                        ._st <strong>Стаж работы:</strong> 10 лет
                    ._prev Кандидат медицинских наук, директор, врач — ортодонт, член профессионального общества ортодонтов России, эксперт по линии Стоматологической Ассоциации России в первичной аккредитации по допуску к осуществлению медицинской деятельности врачей-стоматологов
                    ._list
                        ._item
                            ._date 2007
                            ._inf
                                p Окончил стоматологический факультет Северного государственного медицинского университета г. Архангельск
                                p <strong>Диплом:</strong> ВСА 0276944, рег.№ 35 от 09.06.2007 г.
                        ._item
                            ._date 2007
                            ._inf
                                p Окончил стоматологический факультет Северного государственного медицинского университета г. Архангельск
                                p <strong>Диплом:</strong> ВСА 0276944, рег.№ 35 от 09.06.2007 г.
                        ._item
                            ._date 2007- 2008
                            ._inf
                                p Интернатура по специальности стоматология общей практики на базе МУЗ ГП №1 г. Архангельска
                                p <strong>Удостоверение:</strong> рег.№ 233 от 30.06.2008 г.
            ._bl2
                ._ttl Профессиональные заслуги:
                ._list
                    - for(var i=0;i<2;i++)
                        ._item
                            ._date 2007
                            ._inf
                                p Окончил стоматологический факультет Северного государственного медицинского университета г. Архангельск
                                p <strong>Диплом:</strong> ВСА 0276944, рег.№ 35 от 09.06.2007 г.
                        ._item
                            ._date 2007
                            ._inf
                                p Окончил стоматологический факультет Северного государственного медицинского университета г. Архангельск
                                p <strong>Диплом:</strong> ВСА 0276944, рег.№ 35 от 09.06.2007 г.
                        ._item
                            ._date 2007- 2008
                            ._inf
                                p Интернатура по специальности стоматология общей практики на базе МУЗ ГП №1 г. Архангельска
                                p <strong>Удостоверение:</strong> рег.№ 233 от 30.06.2008 г.


    button._close(type="button" data-izimodal-close="")