.modal#error-mes
    ._inner
        .modal-mes
            ._img
                img(src="images/error.png")
            ._ttl Какая-то ошибка!
            ._text Возможно вы не верно что-то указали
    button._close(type="button" data-izimodal-close="")