.modal#review
    ._inner
        .modal-review
            ._head
                ._img(style="background-image:url('https://picsum.photos/200')")
                ._r
                    ._name Сорокин Валентин
                    ._date 1 января 2018 года
            ._body
                ._txt.
                    Хочу выразить огромную благодарность Екатерине Ивановне и Дмитрию Алексеевичу за их профессионализм, ответственное отношение к своей работе, внимательное и чуткое отношение к пациентам! Долго искала таких квалифицированных специалистов, которым можно с уверенностью доверить здоровье своих зубов. Лечимся всей семьей. Через многое прошли и получили прекрасные результаты.
            ._footer
                a._prev.-disabled(href="#") Предыдущий отзыв
                a._next(href="#") Следующий отзыв
    button._close(type="button" data-izimodal-close="")