.modal#send-review
    ._inner
        .send-review
            ._ttl Оставьте свой отзыв
            ._prev Нам важно знать ваше мнение о клинике и наших специалистах
            ._form
                include ../blocks/_feedback-form
    button._close(type="button" data-izimodal-close="")