.modal#success-mes
    ._inner
        .modal-mes
            ._img
                img(src="images/success.png")
            ._ttl Отлично!
            ._text Ваш отзыв успешно отправлен
            a._button(href="#") Пойти чистить зубы
    button._close(type="button" data-izimodal-close="")