footer.b-footer-blue
    ._inner.sec-content
        ._l
            ul.footer-menu
                li._item
                    a._link(href="#") Услуги и цены
                li._item
                    a._link(href="#") Отзывы
                li._item
                    a._link(href="#") Запись на приём
                li._item
                    a._link(href="#") Полезно
        ._r
           ._tel
               a(href="tel:8182462886") (8182) 46-28-86
           ._addr ул. Карла Маркса, д. 15, офис 10, г. Архангельск
           ._ss-list
               include ../blocks/_b-socisal

