footer.b-footer
    .b-footer-wrapper
        .b-footer-info
            img(src="../../images/icons/globostom.png" alt="").b-footer-info__logo
            .b-footer-info__desc
                p ООО «Стоматологическая клиника Глобо-Стом»
                p
                    a(href="") Лицензия
                    |№ ЛО-29-01-002491 выданная 14.06.2018 года Министерством здравоохранения Архангельской области
        .b-footer-dev
            p Дизайн - &nbsp;
                a(href="#") Konfeta
            p Разработка - &nbsp;
                a(href="#") F5 studio
