header.b-header-blue
    ._inner.sec-content
        .b-header__logo
            a(href="index.html")
                img(src="images/logo-white.svg" alt="")
        .b-header__nav
            include ../blocks/_header-nav.pug
            span#close
        .b-header_phone
            a(href="tel:8182462886").tel (8182) 46-28-86
        .b-header__mobile_nav
            span.i-nav
