extends core/_template-inner

block title
    title='Статьи'

block content
    .inner-page
        .inner-page__header
            .sec-content
                .inner-page__ttl Шаблон
                .inner-page__prev Ответы на самые важные вопросы о здоровье<br>и красоте вашей улыбки
        .inner-page__body
            .detail-page
                ._content.sec-content
                    ._h
                        h1 Заголовок

                    ._bl-img
                        ._img-right
                            img(src="https://picsum.photos/440/490")
                        ._h2 Подзаголовок
                        div Неправильное положение зубов может развиться в силу целого ряда причин — разрушение молочных и постоянных зубов, раннее <a href="#">удаление</a> молочных зубов, вредные привычки, наследственные факторы. На сегодняшний день известно, что неправильный прикус, помимо серьезных косметических недостатков, приводит к возникновению болезней зубов и десен, к развитию функциональных нарушений, мешает рациональному протезированию и, нередко, провоцирует заболевания височно-нижнечелюстного сустава. Если раньше считалось, что неправильный прикус можно с трудом исправить только в детском возрасте, то сейчас современная ортодонтическая аппаратура позволяет успешно проводить лечение у взрослых пациентов. Однако, если речь идет о детях, чем раньше Вы проконсультируетесь у специалиста- тем лучше.


                    ._bl-col3
                        ._h3 Наименование блока в три столбца
                        ul._col3
                            li Диагностика (доктор проводит осмотр, снимает слепки, проводит рентгенологическое обследование, составляет план лечения, подбирает аппаратуру).
                            li Лечение (установка аппаратуры, необходимые коррекции и ее активации). Проводятся необходимые лечебные и профилактические мероприятия по стабилизации кариеса
                            li Окончание (установка ретенционной аппаратуры, если необходимо).

                    ._bl-list
                        ._h3 Наименование блока со списком
                        ul
                            li Позволяет лечить без удаления зубов «безнадежные» случаи с большим дефицитом места, как у детей, так и у взрослых пациентов. Это позволяет улучшить пропорции лица и эстетику улыбки.
                            li Снижение числа посещений (в среднем требуется 7-10 посещений на все лечение) и увеличение интервалов между визитами. Посещать ортодонта необходимо 1 раз в 8-10 недель.
                            li Нет возрастных ограничений — от 12 лет и старше. У взрослых пациентов продолжительность лечения такая же, как у подростков.
                            li Сокращение сроков лечения на 25-50% в зависимости от индивидуальных особенностей организма. Средняя продолжительность лечения 14-18 месяцев.
                            li Уменьшение дискомфорта и болезненных ощущений для пациента во время лечения в связи с применением слабых сил.
                            li Превосходный эстетический результат лечения
                            li Улучшается состояние пародонта
                            li Перестройка костной ткани обеспечивает стабильный результат лечения
                            li Отсутствие лигатур позволяет не нарушать качество гигиенического ухода за полостью рта в процессе лечения, что снижает риск возникновения кариеса. Эластичные лигатуры адсорбируют на своей поверхности налет и бактерии.


