extends core/_template-inner

block title
    title='Важно'

block content
    .inner-page
        .inner-page__header
            .sec-content
                .inner-page__ttl Важно
                .inner-page__prev Все, что нужно знать о походе к стоматологу
                a.back(href="#" title="Вернуться назад")
        .inner-page__body
            .important
                .sec-content
                    .important-bl
                        ._l
                            ._icon
                                img(src='images/important-i1.svg')
                            ._ttl Памятка пациенту
                            ._prev Лечение оплачивает страховая компания в соответствии с вашей программой
                        ._r
                            ._h3 Что нужно сделать обязательно:
                            ul._ul.-col2
                                li._li Вам необходимо взять с собой паспорт!
                                li._li Знать непереносимости и аллергические реакции на лекарства
                                li._li Плотно перекусите, почистите зубы щеткой и зубной нитью.
                                li._li Вспомнить перенесенные и сопутствующие заболевания

                            ._h3 Что нельзя делать в день приема:
                            ul._ul.-col2
                                li._li В день посещения стоматолога принимать алкоголь категорически запрещается! Иначе мы будем вынуждены отказать в приёме.
                                li._li Не планируйте после стоматологического лечения активный отдых и интенсивную работу.
                                li._li Откажитесь от посещения стоматолога при острых вирусных и бактериальных заболеваниях горла и дыхательных путей, даже при незначительной заложенности носа.
                                li._li Женщинам следует отказаться от похода к стоматологу в критические дни.
                    .important-bl
                        ._l
                            ._icon
                                img(src='images/important-i2.svg')
                            ._ttl Лицензия
                            ._prev Лицензия № ЛО-29-01-002491, стр.1,стр.2,стр.3, выданная 14.06.2018 Министерством здравоохранения Архангельской области, расположенным в г. Архангельске, пр. Троицкий, д.49, тел. 21-57-10, на оказание услуг:
                        ._r
                            ._flex-list
                                ._flex-item
                                    ._h4 При осуществлении доврачебной медицинской помощи по:
                                    ul._ul
                                        li._li Рентгенологии
                                        li._li Сестринскому делу
                                        li._li При осуществлении амбулаторно-поликлинической медицинской помощи
                                ._flex-item
                                    ._h4 При осуществлении специализированной медицинской помощи по:
                                    ul._ul
                                        li._li Контролю качества медицинской помощи
                                        li._li Ортодонтии
                                        li._li Общественному здоровью и организации здравоохранения
                                        li._li Стоматологии
                                        li._li Стоматологии детской
                                        li._li Стоматологии терапевтической
                    .important-bl
                        ._l
                            ._icon
                                img(src='images/important-i3.svg')
                            ._ttl Полисы страхования
                            ._prev Лечение оплачивает страховая компания в соответствии с вашей программой
                        ._r
                            ._h3 Лечение оплачивает страховая компания в соответствии с вашей программой
                            ._list.-col2.
                                «Алико»<br>
                                «АльфаСтрахование»<br>
                                «Артекс»<br>
                                «ВСК»<br>
                                «ВТБ Страхование»<br>
                                «Европ Ассистанс СНГ»<br>
                                «Ингосстрах»<br>
                                «ИСК Евро-Полис»<br>
                                «Класс-Ассист»<br>
                                «САК «Энергогарант»<br>
                                «СК Алроса»<br>
                                «СК Альянс»<br>
                                «Страховое общество ЖАСО»<br>
                                «Капитал Страхование»<br>
                                «Медэкспресс»<br>
                                «Первая страховая компания»<br>
                                «Ренессанс Страхование»<br>
                                «РЕСО-Гарантия»<br>
                                «Росгоcстрах»<br>
                                «Россия»<br>
                                «СОГАЗ-МЕД»<br>
                                «Согласие»<br>
                                «УралСиб»<br>
                                «Экспресс Ассист»
            .feedback-bl-wrapper
                .sec-content
                    .feedback-bl
                        ._l
                            ._icon
                                img(src="images/feedback-i.svg")
                            ._ttl Оставьте свой отзыв
                            ._prev Нам важно знать ваше мнение о клинике и наших специалистах
                        ._r
                            ._form
                                include blocks/_feedback-form