extends core/_template-inner

block title
    title='Важно'

block content
    .page404
        ._img
            img(src="images/page404.png")
        ._ttl Такой страницы нет
        a._back(href="/") На главную